html,body{
    margin: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --roboto:'Roboto',cursive;
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}